@import "variables";
@import "form";
@import "buttons";
@import "alerts";
@import "car-card";
@import "car-spec";
@import "header";
// @import "pe-icon-7-stroke.css";
@import "dashboard";
@import "portfolio-card";
@import "sub-header";
@import "token-result-card";
@import "cookieAcceptance-popup";
@import "footer";
@import "error";
@import "admin-config";
@import "wallet-manager";
@import "assets";
@import "membership";
@import "buy-tokens";
@import "token-receipt";
@import "login";
@import "legal";
@import "exchange";
@import "test-mode";
@import "print.scss";
@import "loading-screen.scss";
@import "redeem.scss";
@import "fiat-payment.scss";
@import "button-with-confirmation.scss";
@import "steps-branded.scss";
@import "home.scss";

// Fonts
@font-face {
  font-family: SourceSansPro-Light;
  src: url("../fonts/SourceSansPro-Light.otf");
}
@font-face {
  font-family: SourceSansPro-Regular;
  src: url("../fonts/SourceSansPro-Regular.otf");
}
@font-face {
  font-family: BebasNeue-Bold;
  src: url("../fonts/BebasNeue-Bold.otf");
}

html {
  height: 100%;
}

body {
  font-family: $primary-font;
  background: $background;
  color: $primary-colour;
  h1 {
    color: #fff;
  }
  h2,
  h3,
  h4,
  p, 
  ul {
    color: $primary-colour;
  }
}
.ant-layout {
  background: $background;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}
.main-content {
//   min-width: 768px;
  flex: 1 0 auto;
}

.ant-alert {

  a {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: underline;
  }

  a:hover {
    color: rgba(0, 0, 0, 0.377);
  }
  
}

a {
  color: #ccc;
}
a:hover {
  color: $primary-colour;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.clear-pull {
  clear: both;
}
.font-10 {
  font-size: 10px !important;
}
.font-11 {
  font-size: 11px !important;
}
.font-12 {
  font-size: 12px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-20 {
  font-size: 20px !important;
}
.font-22 {
  font-size: 22px !important;
}
.font-24 {
  font-size: 24px !important;
}
.font-26 {
  font-size: 26px !important;
}
.font-28 {
  font-size: 28px !important;
}
.font-30 {
  font-size: 30px !important;
}
.font-36 {
  font-size: 36px !important;
}
.font-50 {
  font-size: 50px !important;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.clickable {
  cursor: pointer;
}
.unclickable {
  cursor: not-allowed;
}
.underline {
  text-decoration: underline;
}

// animations
.sk-cube {
  background-color: $primary-colour !important;
}
.sk-cube-grid {
  margin: 40px auto;
  margin-bottom: 10px;
}
.spin {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

// skeleton
$skeleton-primary: rgb(125, 127, 133);
$skeleton-secondary: rgb(136, 137, 143);
.ant-skeleton.ant-skeleton-active .ant-skeleton-avatar, .ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-title, .ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-paragraph > li {
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, $skeleton-primary), color-stop(37%, rgb(156, 158, 165)), color-stop(63%, $skeleton-primary));
  background: -webkit-linear-gradient(left, $skeleton-primary 25%, rgb(156, 158, 165) 37%, $skeleton-primary 63%);
  background: -o-linear-gradient(left, $skeleton-primary 25%, rgb(156, 158, 165) 37%, $skeleton-primary 63%);
  background: linear-gradient(90deg, rgb(136, 137, 143) 25%, rgb(156, 158, 165) 37%, $skeleton-primary 63%);
  -webkit-animation: ant-skeleton-loading 1.4s ease infinite;
  animation: ant-skeleton-loading 1.4s ease infinite;
  background-size: 400% 100%;
}

/* universal form styles */
.ant-input {
  border-radius: 2px !important;
}

.ant-input-number {
  width: 100%;
}

.has-error .ant-form-explain,
.has-error .ant-form-split {
  color: $danger !important;
}

.ant-form-explain {
  font-size: 12px !important;
  transition: color 2s cubic-bezier(0.215, 0.61, 0.355, 1) !important;
}

.has-error.has-feedback .ant-form-item-children-icon {
  color: $danger;
}

.has-success.has-feedback .ant-form-item-children-icon {
  color: $success;
}

.has-error .ant-input,
.has-error .ant-input:hover,
.has-error .ant-input:focus,
.has-error .ant-input:not([disabled]):hover {
  // border: 1px solid $danger !important;
  border-color: $danger;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $input-background;
  border-color: $input-background;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus .ant-checkbox-inner,
.ant-radio-checked .ant-radio-inner, 
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: $input-background !important;
}

.ant-radio-inner:after,
.ant-switch-checked {
  background-color: $input-background;
}

.ant-card,
.ant-form,
.ant-form-item,
.ant-checkbox-wrapper,
.ant-radio-wrapper,
.ant-form-item-label label,
.ant-form-explain {
  font-family: $primary-font;
  font-size: 16px;
  color: $primary-colour;
}

.ant-checkbox-wrapper, .ant-radio-wrapper, .ant-form-item-label label {
  color: $primary-colour;
}

// .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
//   background: $brand-main !important;
//   color: $background !important;
//   border-color: $brand-main !important;
//   box-shadow: -1px 0 0 0 $brand-main;
// }

// .ant-radio-button-wrapper:hover:not(.ant-radio-button-wrapper-disabled):not(.ant-radio-button-wrapper-checked) {
//   color: darken($brand-main, 30%) !important;
//   background: darken(#fff, 10%);
// }

.ant-form-item-label {
  white-space: normal;
  text-align: left;
  line-height: initial;
  vertical-align: unset;
}

.ant-progress-text {
  color: $primary-colour !important;
}
.ant-progress-circle-path {
  stroke: $brand-main;
}
.ant-progress-bg {
  background-color: $brand-main;
}
.ant-progress-circle .ant-progress-text {
  color: #f2f2f2 !important;
}
.car-card-pledge .ant-progress-bg {
  background-color: #bbb;
}
.sider,
.nav,
.ant-menu-item {
  background: #2a2d35;
}

.ant-menu-item-selected {
  background: rgba(68, 70, 79, 0.5) !important;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.version {
  color: $primary-colour;
  padding-right: 5px;
}

.content {
  background: $background;
  padding-top: 20px;
}
.ant-spin {
  color: $brand-main;
}
.ant-card {
  margin-bottom: 15px;
}
.ant-tabs {
  color: unset;
}
.ant-tabs-nav {
  .ant-tabs-tab {
    margin: 0;
    background: $footer-background;
    font-weight: bold;
  }
  .ant-tabs-tab-active {
    background: $card-dark;
    color: unset;
  }
}
.ant-tabs-bar {
  margin: 0;
  border-bottom: 1px solid $card-dark;
}
.ant-tabs-content {
  padding: 15px;
  background: $card-dark;
  min-height: 600px;
}
.ant-tabs-nav .ant-tabs-tab:hover {
  color: unset;
  border-bottom: unset;
}
.ant-tabs-nav .ant-tabs-tab:active {
  color: unset;
  border-bottom: unset;
}
.ant-tabs-ink-bar {
  background: unset;
}
.card-heading {
  color: $primary-colour;
  font-size: 24px;
  margin-top: 15px;
  font-family: $sub-headline-font;
}
@media (max-width: 992px) {
    .card-heading {
        text-align: center;
    }
}
.card-heading-right {
  float: right;
  margin-top: -35px;
  font-family: $sub-headline-font;
  font-size: 24px;
  color: $primary-colour;
}
.card-row {
  margin-top: 15px;
}
.sub-headline-font {
  font-family: $sub-headline-font;
}
.stat-title {
  margin-top: 12px;
  margin-bottom: 0;
  color: $brighter-colour;
}
.stat-body {
  margin-top: 0;
  margin-bottom: 0;
  color: $primary-colour;
}
.dash-stat-card {
  background: rgba(68, 70, 79, 0.5);
  padding: 10px;
  h2 {
    color: #fff;
  }
  border: none;
}
@media (max-width: 768px) {
    .dash-stat-card-description {
        max-height: 500px;
        overflow-y: scroll;
    }
}
.dash-stat-header {
  h1 {
    margin-bottom: 0;
  }
  margin-bottom: 40px;
}
.asset-reg-card {
  margin-bottom: 200px;
}
.buy-card {
  background: rgba(0, 0, 0, 0);
  padding: 10px;
  h2 {
    color: #fff;
  }
  border: none;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}
.table-responsive {
  border-color: #484c5a !important;
  min-height: 0.01%;
  overflow-x: auto;
}
.panel-filled .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #44464f;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #494b52;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
}

// Register
.ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline):not(.ant-btn-icon-only) {
    padding: 0px;
}
.register-check {
  margin-top: 20px;
}

@media (max-width: 992px) {
    .membership-subtitle {
        text-align: center;
        padding: 20px;
    }
}

.ant-modal-content {
  background: $background;
}

.ant-modal-close-icon svg {
  fill: $brighter-colour;
}

.ant-modal-footer {
  text-align: center;
}

// Register Asset
.ant-steps-item-title {
  color: $primary-colour;
}
.ant-steps-icon {
  color: $primary-colour !important;
}
.ant-steps-item-title:after {
  background: #555;
}
.ant-steps-item-complete > .ant-steps-item-icon > .ant-steps-icon {
  color: $primary-colour !important;
}
.ant-steps-item-complete > .ant-steps-item-content > .ant-steps-item-title {
  color: $primary-colour !important;
}
.ant-steps-item-current > .ant-steps-item-icon > .ant-steps-icon {
  font-weight: bold !important;
  color: #fff !important;
}
.ant-steps-item-current > .ant-steps-item-content > .ant-steps-item-title {
  font-weight: bold !important;
  color: #fff;
}
.ant-steps-item-incomplete > .ant-steps-item-icon > .ant-steps-icon {
  color: #555 !important;
}
.ant-steps-item-incomplete > .ant-steps-item-content > .ant-steps-item-title {
  color: #555 !important;
}

// register asset thumbnail
.ant-upload-list-item-thumbnail > img {
  width: 70px !important;
}
.ant-upload-list-item-thumbnail {
  pointer-events: none;
}
.ant-upload-list-item-info > span {
  margin-left: 40px;
}
.ant-upload-list-item-name {
  pointer-events: none;
  color: $primary-colour;
  margin-left: 0px !important;
}
.ant-upload-list-item > .anticon-close {
  color: #fff;
}
.ant-upload-list-item-pending {
  border-style: dashed !important;
  .ant-upload-list-item-thumbnail > img {
    // border: 1px solid #bbb;
    width: 1.4em !important;
    height: 1.4em !important;
    -webkit-animation: loadingCircle 1s infinite linear;
    animation: loadingCircle 1s infinite linear;
    margin: 10px;
    margin-left: 30px;
  }
}
.ant-upload-list-item-error > .ant-upload-list-item-info > span > .anticon-picture {
  visibility: hidden !important;
}

// custom stuff for asset registration
.ant-upload-list {
  display: none;
}
.ant-upload-list-custom {
  display: block !important;
}
.asset-upload-pending-icon svg {
  height: 2em;
  width: 2em;
  color: $brighter-colour;
}
.ant-upload-list-item-info .anticon-loading, .ant-upload-list-item-info .anticon-paper-clip {
  color: unset;
}
.upload-text-list-item {
  margin-bottom: 10px;
}
.ant-upload-list-item:hover .ant-upload-list-item-info {
  background-color: unset;
}

// asset reg steps
.reg-step-container {
  margin-bottom: 20px;
  text-align: center;
}
.reg-step {
  min-height: 100px;
  background: $card-dark;
  border: none;
  margin-bottom: 0;
}
.reg-step-done-icon {
  margin-right: 5px;
  color: $success;
}
.reg-step-incomplete {
  h1, p {
    color: $incomplete !important;
  }
}
.reg-step-complete {
  h1, p {
    color: $complete !important;
  }
}

// approval steps
.approval-step-container {
  margin-bottom: 20px;
  text-align: center;
}
.approval-step {
  min-height: 100px;
  background: $card-dark;
  border: none;
  margin-bottom: 0;
}
.approval-step-done-icon {
  margin-right: 5px;
  color: $success;
}
.approval-step-arrow {}
.approval-step-current {

}
.approval-step-incomplete {
  h1, p {
    color: $incomplete !important;
  }
}
.approval-step-complete {
  h1, p {
    color: $complete !important;
  }
}

.approval-agentdata-disabled {
  color: rgba(0, 0, 0, 0.65);
}

.sub-step-approval h1 {
  font-size: large;
}

.sub-step-approval .ant-card-body .ant-form-item {
  padding-bottom: 0px !important;
  margin-bottom: 10px;
}

#copy-address {
  border: none;
  text-align: left;
  margin: 0;
  padding: 0;
  height: auto;
}

#copy-address:hover {
  background-color: transparent !important;
}

.web3-response-message {
  font-weight: normal !important;
  
  .stat-body, .stat-title, li {
    color: $background;
  }

  a {
    text-decoration: underline;
    color: $background;
  }
}

.web3-response-title {
  font-weight: bold !important;
}

.addtoken-wrapper {
  cursor: pointer;
  display: inline-block;
  position: relative;
  bottom: 2px;
}

.metamask-notification {
  img {
    height: 20px;
    margin-left: 10px;
  }
}

.link-highlight {
  cursor: pointer;
  color: $brand-main;
  text-decoration: underline;
}

.metamask-mainnet {
  width: 275px;
}

.disabled-link {
    pointer-events: none;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home-collapse {
  .ant-collapse-item .ant-collapse-header {
    color: #ddd;
    font-size: 1.5em;
  }
}

.no-wrap {
  white-space: nowrap; 
}