.homepage-link {
    margin-bottom: 1em;
}

.homepage-link-card {
    .ant-card-head-title {
        color: $brighter-colour;
        font-size: 1.5em;
    }
}

.homepage-highlight {
    color: white;
}